mark,
.mark {
    padding: 0;
    background-color: #dcdcdc;
}

.lead {
    font-size: 1.15rem;
    font-weight: 300;
}

p {
    margin-top: 0;
    margin-bottom: 0rem;
}

.dropdown-item {
    cursor: pointer;
}